{% block body %}

	<img src=" {{ asset('images/header_pole-emploi.jpg') }}" alt="fond 'image pole emploi">


	{% for post in posts %}

		<div class="col-md-8">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column">
					<h3 class="mb-0">{{ post.title }}</h3>
					<div class="d-flex justify-content-start">
						<div class="mb-1 p-2">{{ post.departement }}</div>
						<div class="mb-1 p-2 text-muted">{{ post.zipcode }}</div>
					</div>
					<div class="d-flex justify-content-between">
						<p class="mb-auto">{{ post.content }}</p>
						<p class="">{{ post.type }}</p>
					</div>
					<a href="{{ path('app_post', {'id':post.id} ) }}" class="stretched-link">Continue reading</a>
				</div>
				<div class="mb-1 text-muted">{{ post.createdAt|date("m/d/Y") }}</div>
				<div class="col-auto d-none d-lg-block"></div>
			</div>
		{% endfor %}


		<footer
			class="blog-footer mx-4 my-3">
			{# pagination #}
			{{ knp_pagination_render(posts) }}
			<a href="#">Retour en haut de page</a>
		</footer>
	{% endblock %}
