{% block body %}

	<img src=" {{ asset('images/header_pole-emploi.jpg') }}" alt="fond 'image pole emploi">


	{% for post in posts %}

		<div class="col-md-12">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column">
					<div class="d-flex justify-content-between">
						<strong class="p-2">{{ post.type }}
							type</strong>
						<p class="p-2">durée : {{ post.duree }}
							
						</p>
					</div>
					<h3 class="mb-0">{{ post.title }}</h3>


					<div class="mb-1 text-muted">{{ post.createdAt|date("m/d/Y") }}</div>
					<p class="mb-auto">{{ post.content }}</p>
					<div class="mb-1 text-muted">{{ post.departement }}</div>

					<a href="{{ path('app_post', {'id':post.id} ) }}" class="stretched-link">Continue reading</a>
				</div>
				<div class="col-auto d-none d-lg-block"></div>

			</div>
		</div>


	{% endfor %}


	<footer
		class="blog-footer mx-4 my-3">
		{# pagination #}
		{{ knp_pagination_render(posts) }}
		<a href="#">Retour en haut de page</a>
	</footer>
{% endblock %}
