{% extends 'base.html.twig' %}
{% block body %}
	<body>


		<div class="col-md-12">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column">
					<div class="d-flex justify-content-between">
						<strong class="p-2">{{ post.type }}
							type</strong>
						<p class="p-2">{{ post.duree }}
							durée
						</p>
					</div>
					<h3 class="mb-0">{{ post.title }}titre</h3>
					<div class="mb-1 text-muted">{{ post.createdAt }}date</div>
					<p class="mb-auto">{{ post.content }}contenu</p>
					<div class="mb-1 text-muted">{{ post.departement }}
						departement</div>
					<a href="{{ path('app_home', {'id':post.id} )}}" class="stretched-link">Continue reading</a>
				</div>
				<div class="col-auto d-none d-lg-block"></div>
			</div>
		</div>
	</body>
</div></body></div></body></div></div><footer class="blog-footer"><p><a href="#">Back to top</a></p></footer></body>{% endblock %}
